@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LFG</title>
    @Styles.Render(
        "~/Content/bootstrap-3.3.5/css/bootstrap.css",
        "~/Content/css"
    )
</head>
    
<body>
    <div id="nav">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/" id="nav-title">Looking for Group</a>
                </div>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="nav navbar-nav">
                        <li class="active" id="nav-home"><a href="#/">Home</a></li>
                        <li><a href="#/create">Create Activity</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="content">
        <div id="main"></div>
        <div id="loader" class="cssload-loader" style="display: none;">
            <div class=" cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/index")
</body>
</html>
