@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LFG</title>
</head>
<body>

    <div class="firstExample">
        <p>Name: <input data-bind="value: name" /></p>
                 <input type="date" data-bind="value: date" />
    </div>

    <button data-bind="click: save"> Save </button>
    
    @Scripts.Render(
                "~/Scripts/lib/jquery-2.1.4.min.js",
                "~/Scripts/lib/knockout-3.3.0.js",
                "~/Scripts/app/vm.activity.js"
    )
</body>
</html>
