.content {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.search-btn{
    float: right;
}

tr:nth-child(even) {
    background-color: rgb(196, 227, 243);
}

tr:nth-child(odd) {
    background-color: white;
}

#Test th{
    font-weight:bold;
    cursor:pointer;
}

#Test th.asc:after{
    content:'\2191';
    display:inline-block;
    color:red;
}
#Test th.desc:after{
    content:'\2193';
    display:inline-block;
    color:blue;
}

.create-button {
    width: 100%;
    margin-bottom: 20px;
}

.filter-item {
    width: 33% !important; 
}

.filter-group {
    padding-bottom: 10px;
}