.content {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.search-btn{
    float: right;
}

#Test th{
    font-weight:bold;
    cursor:pointer;
}

#Test th.asc:after{
    content:'\2191';
    display:inline-block;
    color:red;
}
#Test th.desc:after{
    content:'\2193';
    display:inline-block;
    color:blue;
}

.create-button {
    width: 100%;
    margin-bottom: 20px;
}

.filter-item {
    width: 33% !important; 
}

.filter-group {
    padding-bottom: 10px;
}

.activity-master-list {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}

.activity-details {
    width: 33%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 10px;
}

.well-black {
    background-color: #333;
    padding: 10px;
}

.float-right {
    float: right;
}

.xbox {
    color: darkgreen;
}

.psn {
    color: darkblue;
}

.pc {
    color: darkgray;
}